.table{
    width: 100%;
}

.tbody{
    box-sizing: border-box;
    width: 100%;
}


.tr{
display: flex;
    box-sizing: border-box;
    flex-direction: row;
/*  flex-wrap: wrap;*/
    justify-content: space-between;
    width: 100%;
   /* margin-bottom: 5%;
    margin-top: 5%;*/
    padding-top: 2%;
    padding-bottom: 2%;
    border-color: grey;
    border-width: 1px;
    border-style: dotted;
}

td {

  /*  border-width: 1px;
    border-style:solid;
    border-color: #1a1a1a;*/

}